appdev-example/src/main/app/appdev-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
   
    <!-- <vm:connector name="VM" validateConnections="true" doc:name="VM"/> -->
    
    <flow name="flow12">
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <sub-flow name="subflow1">
        <set-property propertyName="qpname" value="max" doc:name="Property"/>
    </sub-flow>
    <flow name="flow1">
        <set-payload value="#['hello world']
#[ message.inboundProperties.'http.query.params'.name]
#[ message.inboundProperties.'http.query.params'.id]" doc:name="Set Payload"/>
    </flow>
    <flow name="appdev-exampleFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/hello" doc:name="HTTP"/>
        <flow-ref name="flow1" doc:name="flow1"/>
        <flow-ref name="subflow1" doc:name="subflow1"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="flow" connector-ref="VM" doc:name="VM"/>
        <logger level="INFO" doc:name="Logger" message="#['helloworld'.toUpperCase()]"/>
    </flow>
</mule>
